# CP2102 USB-to-UART bridge for STL19P LiDAR
# Creates /dev/wheeltec_lidar symlink
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", GROUP:="dialout", SYMLINK+="wheeltec_lidar"
